<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://127.0.0.1:3306/carRentalApp?createDatabaseIfNotExist=true</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">D.luffy@17</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>


    <property name="hibernate.hbm2ddl.auto">update</property>
    <!-- Mappings -->

    <mapping class="com.neu.shubham.carRental.pojo.Customer"/>
    <mapping class="com.neu.shubham.carRental.pojo.Car"/>
    <mapping class="com.neu.shubham.carRental.pojo.Booking"/>
    <mapping class="com.neu.shubham.carRental.pojo.UserCars"/>
    <mapping class="com.neu.shubham.carRental.pojo.CarPhoto"/>
    <mapping class="com.neu.shubham.carRental.pojo.License"/>
  </session-factory>
</hibernate-configuration>